
.worthwhile-dev-container 
{
  max-width: 1000px
  margin: 40px auto;
  background-color: #ffffff;
  padding:20px 30px;
  border-radius:8px;
}

.worthwhile-dev-container h1 //Biggest heading on top
{
  font-size: 40px;
  text-align: center;
  border-bottom: 4px solid #3ba27c
  margin-top: 30px;
}

.worthwhile-dev-container h2 //Sub Heading preceding h1
{
  font-size: 28px;
  text-align: center;
  border-bottom:2px 2px solid #3ba27c
  margin-top: 30px;
}

.worthwhile-dev-container p //Small Intro paragraph below h2
{
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 40px;
}

.worthwhile-dev-container circle //Circle used for interactive slideshow (will rotate)
{
  width: 490px;
  height: 490px;
  positon: absolute;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.worthwhile-dev-container images //Images that will be on the circle 
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}
  



